.navbar {
    background: #2E2E2E
}

.navbar:not(.top-nav-collapse) {
    background: #2E2E2E;
}

.navbar-brand {
    padding-right: 2rem;
}

.navbar .navbar-brand img {
    height: 40px;
    margin: 10px;
}

.view-margin {
    margin-top: 64px;
}

.hm-gradient {
    background: linear-gradient(40deg, rgba(0, 51, 199, .3), rgba(209, 149, 249, .3));
}

.heading {
    margin: 0 6rem;
    font-weight: 700;
    color: #2E2E2E;
}

.subheading {
    margin: 2.5rem 6rem;
    color: #bcb2c0;
}

.btn.btn-margin {
    margin-left: 6rem;
    margin-top: 3rem;
}

.btn.btn-lily {
    background: linear-gradient(40deg, rgba(0, 51, 199, .7), rgba(209, 149, 249, .7));
}

.title {
    margin-top: 6rem;
    margin-bottom: 2rem;
    color: #5d4267;
}

.subtitle {
    color: #bcb2c0;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 6rem;
}

.nav-pills-elegant .nav-item a.active {
    background-color: #2E2E2E!important;
}

.nav-pills-elegant .nav-item a {
    color: #2E2E2E
}

.bg-custom {
    width: 100%;
    /* Center and scale the image nicely */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
}

.bg-cd {
    background-image: url("../media/cd_background.jpg");
}

.bg-contact {
    background-image: url("../media/contact_background.jpg");
}

body, html {
    height: 100%;
}

.table-link:link, .table-link:visited {
    text-decoration: underline;
}

@media (max-width: 426px) {


    #heading-intro {
        font-size: 4rem;
    }

    .headings-intro {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .btn-intro {
        margin-left: 0rem !important;
        margin-right: 0rem !important;
    }
}

@media (max-width: 769px) {
    .headings-intro {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    #img-intro {
        margin: 5%;
        width: 90%;
    }

    #about {
        padding: 5%!important;
    }
}

.img-squarify{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
    background-color: lightgray;
}
.img-squarify img{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* FORMS */
.form-group {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin: 0;
}

.form-group .col-form-label, .form-group .md-form, .form-group .md-form .form-control {
    margin: 0;
    padding: 0;
}

.form-group .col-form-label {
    color: #757575;
}

.md-form .validate {
    margin-bottom: 0;
}

.form-details {
    padding-top: 1rem;
    color: #757575;
}