.navbar {
    background: #2E2E2E
}

.navbar:not(.top-nav-collapse) {
    background: #2E2E2E;
}

.navbar .navbar-brand img {
    height: 40px;
    margin: 10px;
}

.hm-gradient {
    background: linear-gradient(40deg, rgba(0, 51, 199, .3), rgba(209, 149, 249, .3));
}

.heading {
    margin: 0 6rem;
    font-weight: 700;
    color: #2E2E2E;
}

.subheading {
    margin: 2.5rem 6rem;
    color: #bcb2c0;
}

.btn.btn-margin {
    margin-left: 6rem;
    margin-top: 3rem;
}

.btn.btn-lily {
    background: linear-gradient(40deg, rgba(0, 51, 199, .7), rgba(209, 149, 249, .7));
}

.title {
    margin-top: 6rem;
    margin-bottom: 2rem;
    color: #5d4267;
}

.subtitle {
    color: #bcb2c0;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 6rem;
}

.nav-pills-elegant .nav-item a.active {
    background-color: #2E2E2E!important;
}

.nav-pills-elegant .nav-item a {
    color: #2E2E2E
}

.background-CD {
    /* The image used */
    background-image: url("../media/cd_background.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body, html {
    height: 100%;
}